# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

*firebase_option.dart

# Flutter/Dart related
**/build/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/App.framework
**/ios/.symlinks/
**/ios/Pods/
**/ios/Runner.xcworkspace/
**/ios/Runner.xcworkspace/xcuserdata/
**/ios/Runner/Flutter.podspec
**/ios/Runner.xcodeproj/xcuserdata/
**/ios/Runner.xcodeproj/project.xcworkspace/
**/ios/Flutter/App.framework/
**/ios/Flutter/Flutter.framework/
**/android/.gradle/
**/android/app/build/
**/android/app/release/
**/android/build/
**/android/release/
**/test/

.package
.packages
.pub-cache
.pub
build/

# Firebase related
firebase_app_id_file.json
.firebase/
**/android/app/google-services.json
**/ios/Runner/GoogleService-Info.plist


# VS Code related
.vscode/
.history/

# User specific
*.swo
*~
*.tmp